<!--script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script-->

<script src="/assets/js/HighCharts/highcharts.js"></script>
<script src="/assets/js/HighCharts/highcharts-3d.js"></script>
<script src="/assets/js/HighCharts/exporting.js"></script>
<script src="/assets/js/HighCharts/export-data.js"></script>
<script src="/assets/js/moment.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<style type="text/css">
  body {
    -moz-user-select:none;
  }

  #stats {
    width:98%;
    border:1px solid #eee;
    margin:10px;
    margin-top: 0px;
    background:white;
  }
  #stats td, #stats th {
    text-align:center;
  }
  .odd {
    background-color: #eeeef7;
  }
  .even {
    background-color: #fff;
  }

  #table_div {
    overflow:auto;
    height: 320px;
    background-color: white;
    border: solid 1px #eee;
    border-width: 1px;
    overflow: hidden;
  }

  .btn {
    min-height: 50px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1.2em;
    background-color: #6281a7;
    color: #FFF;
    font-weight: normal;
    border: 5px outset #000;
    padding: 10px;
    cursor: pointer;
    background:url(../images/btn_blue.png) right repeat;
    -moz-user-select:none;
    -moz-user-focus:disabled;
  }

  .btn:hover {
    background:url(../images/btn_blue_hover.png) right repeat;
    -moz-user-select:none;
    -moz-user-focus:disabled;
  }

  .btn:active {
    background:url(../images/btn_yellow.png) right repeat;
    border: 3px inset #000;
  }
  #chart-column {
    width: 50%;
    height: 315px;
    float: left;
  }

</style>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/apps/ANC/assets/js/overview.js"></script>

<!--div id="tab" style="background-color: #fff; border-top: 1px #fff solid; margin-top: 0px; width: 50%; float: left;">
  <h2 style="text-align: center; color: #6281a7; margin-top: -2px; margin-bottom: 0px;">Current Visit Statistics</h2>
  <table id="stats" style="height: 315px; margin-bottom: 8px;" cellpadding="5">
    <tr style="color: #fff; background-color: #6281a7;">
      <th style="text-align:left;">Total with: </th>
      <th id="username">Me</th>
      <th>Today</th>
      <th>This Year</th>
    </tr>
      <tr class="even">
        <td style="text-align:left;">1 visit</td>
        <td><span id="user_1"></span></td>
        <td><span id="today_1"></span></td>
        <td><span id="year_1"></span></td>
      </tr>
      <tr class="odd">
        <td style="text-align:left;">2 visits</td>
        <td><span id="user_2"></span></td>
        <td><span id="today_2"></span></td>
        <td><span id="year_2"></span></td>
      </tr>
      <tr class="even">
        <td style="text-align:left;">3 visits</td>
        <td><span id="user_3"></span></td>
        <td><span id="today_3"></span></td>
        <td><span id="year_3"></span></td>
      </tr>
      <tr class="odd">
        <td style="text-align:left;">4 visits</td>
        <td><span id="user_4"></span></td>
        <td><span id="today_4"></span></td>
        <td><span id="year_4"></span></td>
      </tr>
      <tr class="even">
        <td style="text-align:left;"> >5 visits</td>
        <td><span id="user_5"></span></td>
        <td><span id="today_5"></span></td>
        <td><span id="year_5"></span></td>
      </tr>
  </table>
</div -->
<div class="overview-main-container-cell" id="chart-column">
</div>
