<!--script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script-->

<script src="/assets/js/HighCharts/highcharts.js"></script>
<script src="/assets/js/HighCharts/highcharts-3d.js"></script>
<script src="/assets/js/HighCharts/exporting.js"></script>
<script src="/assets/js/HighCharts/export-data.js"></script>
<script src="/assets/js/moment.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<style type="text/css">
  body {
    -moz-user-select:none;
  }

  #stats {
    width:98%;
    border:1px solid #eee;
    margin:10px;
    margin-top: 0px;
    background:white;
  }
  #stats td, #stats th {
    text-align:center;
  }
  .odd {
    background-color: #eeeef7;
  }
  .even {
    background-color: #fff;
  }

  #table_div {
    overflow:auto;
    height: 320px;
    background-color: white;
    border: solid 1px #eee;
    border-width: 1px;
    overflow: hidden;
  }

  .btn {
    min-height: 50px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1.2em;
    background-color: #6281a7;
    color: #FFF;
    font-weight: normal;
    border: 5px outset #000;
    padding: 10px;
    cursor: pointer;
    background:url(../images/btn_blue.png) right repeat;
    -moz-user-select:none;
    -moz-user-focus:disabled;
  }

  .btn:hover {
    background:url(../images/btn_blue_hover.png) right repeat;
    -moz-user-select:none;
    -moz-user-focus:disabled;
  }

  .btn:active {
    background:url(../images/btn_yellow.png) right repeat;
    border: 3px inset #000;
  }
  #chart-column {
    width: 50%;
    height: 315px;
    float: left;
  }

  #container {
    height: 300px;
  }
  
  #today-stats {
    width: 50%;
    height: 315px;
    float: left;
  }

  .card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    text-align: center;
  }
  .green-card {
    background-color: #00c851 !important
  }
  .blue-card {
    background-color: #33b5e5 !important
  }
  .info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 20px;
  }

  .info-box-text {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #fff;
  }
  .info-box-number {
    font-weight: 300;
    font-size: 21px;
    padding-top: 20px;
    color: #fff;
  }

  .overview-main-container-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }



</style>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/apps/ANC/assets/js/overview.js"></script>
<div class="overview-main-container-cell" id="chart-column">
</div>
<div class="overview-main-container-cell" id="today-stats">
  <div class="overview-main-container-header">
    Today's Statistics
  </div>
  <div>
  <div id="appointment-stats" style="width:40%; float: left; margin-left: 40px;">
    <div class="card green-card">
      <div class="info-box-content">
        <span class="info-box-text">Expected visits</span>
        <span class="info-box-number" id="appointments">0</span>
      </div>
    </div>
  </div>
  <div id="edod-stats" style="width:40%; float: left; margin-left: 20px;">
    <div class="card blue-card">
  <div class="card-body">
    <div class="info-box-content">
      <span class="info-box-text">Expected deliveries</span>
      <span class="info-box-number" id="deliveries">0</span>
    </div>
  </div>
</div>
  </div>
  </div>
  <div id="container">
  </div>
</div>
