<!DOCTYPE html>
<html>
  <head>
    <title>Drug sets</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/httpUtils.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/drug_sets.js"></script>

<style>
  .helper {
    display: block;
    float:right;
    background-color: #DEDEDE;
  }

  .drug-col{
    width: 50%;
    position: relative;
  }
  .dur-col {
    width: 15%;
    float: left;
  }


</style>
</head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <form>
          <input type="text" name="name" id="name" helpText="Enter drug set name" 
            tt_onload="showCategory2('Add drug sets');" />
          <input type="text" name="description" id="desc" helpText="Drug set description" 
            tt_onload="showCategory2('Add drug sets');"/>

          <select id="drugs" name="drugs" tt_onLoad="$('keyboard').style.display = 'none';
            changeNextButton(); showCategory2('Add drug sets'); populateDrugs(); clearCachedDrugs();" 
            helpText="Select drugs to add"  tt_pageStyleClass="longSelectList" multiple="multiple">

        </select>
          <input type="text" name="drug_set" id="drug_set" helpText="Drug set description" 
            tt_onload="showCategory2('Add drug sets'); $('clearButton').style.display = 'none';
              listSelectedDrugs();" 
            tt_pageStyleClass="NoKeyboard">
        </form>
      </div>
    </div>
  </body>
</html>
