<!DOCTYPE html>
<html>
  <head>
    <title>ANC Prescription</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <link rel="stylesheet" href="/apps/ANC/assets/css/anc_prescription.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/anc_prescription.js"></script>
    <script type="text/javascript" src="/assets/js/httpUtils.js"></script>
    <!--link rel="stylesheet" href="styles.css" type="text/css"-->
    <!-- %= stylesheet_link_tag "prescription/styles" % -->
    <script>
      var apiProtocol = sessionStorage.apiProtocol;
      var apiURL = sessionStorage.apiURL;
      var apiPort = sessionStorage.apiPort;
      var patientID = sessionStorage.patientID;
      var programID = sessionStorage.programID;
      var authToken = sessionStorage.authorization;
      var fetchedPrescriptions = {};

      var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
      var drugs = [];
      var strengths = [];
      var units = [];
      var drug_ids = [];	
  
      var drug_sets = {} //<%= @drug_sets.to_json.html_safe %>
      var set_names = {} //<%= @set_names.to_json.html_safe %>
      var set_descriptions = {} //<%= @set_descriptions.to_json.html_safe %>

      var drug_set_name_display = [];
      var drug_set_name = [];
      var drug_set_dose = [];
      var drug_set_unit = [];
      var drug_set_frequency = [];
      var drug_set_duration = [];		

      function getDrugs(){
        var apiPath = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/drugs"
        apiPath += "?page_size=100";
        
        GET({
          url: apiPath,
          async: true,
          headers: {
            'Authorization': authToken
          }
        }, {}, function (data) {
          for(var i = 0; i < data.length; i++){
            drugs.push(data[i]['name']);
            strengths.push(data[i]['dose_strength']);
            units.push(data[i]['units']);
            drug_ids.push(data[i]['drug_id']);
          }
        }, function (error) {
          console.log(error);
        });
      }

      getDrugs();

      function submitTreatmentEncounter(){
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
        encounter_datetime += currentTime;
                        	
        var encounter = {
          encounter_type_name: 'TREATMENT',
          encounter_type_id:  25,
          patient_id: patientID,
          encounter_datetime: encounter_datetime
        }
    
        submitParameters(encounter, "/encounters", "postDrugOrders");
      }

      function postDrugOrders(encounter){
        var drug_orders_params = {encounter_id: encounter.encounter_id, 
          drug_orders: []
        }
        
        var orders = [];
        for (selected_drug in selectedDrugs){
          var drug_id = selected_drug.match(/\d+/)[0];
          drug_name = $("row_"+selected_drug).getAttribute("d-name"); 
          var frequency = __$("row_frequency_" + selected_drug).innerHTML;
          var duration = parseInt(__$("row_duration_" + selected_drug).innerHTML);
          dose = $("row_" + selected_drug).getAttribute("dose");
          units = $("row_" + selected_drug).getAttribute("units"); //to be edited.
          var instructions = "";

          var start_date = new Date(sessionStorage.sessionDate);
          var start_date_formated = getFormattedDate(start_date);
          var auto_expire_date = start_date.setDate(start_date.getDate() + duration);
          var auto_expire_date_formated = getFormattedDate(new Date(auto_expire_date));
          var eq_daily_dose = parseFloat(dose) * dosesPerDay(frequency)


          if (frequency.toUpperCase() == "VARIABLE") {
            if (instructions == "") {
              instructions = drug.name+":";
              if (dose[0] !== "" && parseFloat(dose[0]) == 0){
                instructions += " IN THE MORNING (QAM):"+dose[0]+" "+units;
              }else if (dose[1] !== "" && parseFloat(dose[1]) == 0){
                instructions += " ONCE A DAY AT NOON (QNOON):"+dose[1]+" "+units;
              }else if (dose[2] !== "" && parseFloat(dose[2]) == 0){
                instructions += " IN THE EVENING (QPM):"+dose[2]+" "+units;
              }else if (does[3] !== "" && parseFloat(dose[3]) == 0){
                instructions += " ONCE A DAY AT NIGHT (QHS):"+dose[3]+" "+units;
              }
              instructions += " for "+duration+" days";
            }

            if (Array.isArray(dose)){
              total_dose = dose.reduce((a, b) => a + b, 0);
              dose = total_dose;
            }
            eq_daily_dose = dose || eq_daily_dose;
        
          }else {
            if (instructions === ""){
              instructions = drug_name+": "+dose+" "+units+" "+frequency+" for "+duration+" days";
            }
          }

          drug_order = {
            drug_inventory_id: drug_id,
            dose: dose,
            equivalent_daily_dose: eq_daily_dose,
            frequency: frequency,
            start_date: start_date_formated,
            auto_expire_date: auto_expire_date_formated,
            instructions: instructions,
            units: units
          }

          drug_orders_params.drug_orders.push(drug_order);

        }
        submitParameters(drug_orders_params, "/drug_orders", "nextPage");
      }

      function getFormattedDate(set_date) {
        var month = (set_date.getMonth() + 1);
        if (month < 10)
            month = "0" + month;
        
        var day = (set_date.getDate());
        if (day < 10)
          day = "0" + day;

        var year = (set_date.getFullYear());
        return year + "-" + month + "-" + day;
      }

      function dosesPerDay(frequency){
        var frequency = frequency.toUpperCase();
        if (frequency == "ONCE A DAY (OD)"){
          return 1;
        }else if (frequency == "TWICE A DAY (BD)"){
          return 2;
        }else if (frequency == "THREE A DAY (TDS)"){
          return 3;
        }else if (frequency == "FOUR TIMES A DAY (QID)"){
          return 4;
        }else if(frequency == "FIVE TIMES A DAY (5X/D)"){
          return 5;
        }else if (frequency == "SIX TIMES A DAY (Q4HRS)"){
          return 6;
        }else if (frequency == "IN THE MORNING (QAM)"){
          return 1;
        }else if (frequency == "ONCE A DAY AT NOON (QNOON)"){
          return 1;
        }else if (frequency == "IN THE EVENING (QPM)"){
          return 1;
        }else if (frequency == "ONCE A DAY AT NIGHT (QHS)"){
          return 1;
        }else if (frequency.upcase == "EVERY OTHER DAY (QOD)"){
          return 0.5;
        }else if(frequency == "ONCE A WEEK (QWK)"){
          return parseFloat(1 / 7);
        }else if (frequency == "ONCE A MONTH"){
          return parseInt(1 / 28);
        }else if (frequency == "TWICE A MONTH"){
          return parseInt(1 / 14);
        } 
      }

      function getPrescriptions() {
        var url = apiProtocol + "://" + apiURL + ":" + apiPort;
        url += "/api/v1/drug_orders?patient_id=" + patientID;
        url += "&date=" + sessionStorage.sessionDate;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText);
            fetchedPrescriptions = {}
          }
        };

        xhttp.open("GET", url, true);
        xhttp.setRequestHeader('Authorization', authToken);
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
      }
      getPrescriptions();

      function nextPage(obs){
        nextEncounter(sessionStorage.patientID, programID);
      }


    </script>
  </head>
  <body onresize="resize()">
    <div id="container" style="border: 0px solid #999; width: 100%; height: 100%;">
      <div class="table" style="width: 100%; border: 0px solid #666; height: 100%;">
        <div class="row">
          <div class="cell" style="border: 0px solid #999;">
            <div class="table" style="width: 100%; border: 0px solid #666; height: 100%;">
              <div class="row">
                <div id="cummulative" class="cell" style="border: 1px solid #999; 
                     border-radius: 10px; background-color: #f6f2ca; height: 220px;
                     overflow: auto; padding: 5px;">
                  <div class="table" style="width: 100%; border-spacing: 0px;">
                    <div class="row" style="color: #000;">
                      <div class="cell borderBottom" style="font-weight: bold; 
                           text-align: center; padding: 5px; width: 44%;">
                        Drug
                      </div>
                      <div class="cell borderBottom" style="font-weight: bold; 
                           text-align: center; padding: 5px; width: 29%;">
                        Frequency
                      </div>
                      <div class="cell borderBottom" style="font-weight: bold;
                           text-align: center; width: 22%;">
                        Duration
                      </div>
                      <div class="cell borderBottom" style="font-weight: bold; 
                           text-align: center; padding: 5px; ">
                        &nbsp;
                      </div>
                    </div>
                  </div>                  
                  <div id="scroll_me" style="width: 100%; height: 190px; overflow: auto;">
                    <div id="drugs" class="table" style="width: 100%; border-spacing: 0px;">

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell" id="switcher" style="border: 0px solid #fff; overflow: auto; 
                     border: 0px #999 solid; border-radius: 10px; background-color: #fff;">

                  <div class="table" style="width: 100%; height: 100%;">
                    <div class="row">
                      <div id="selections" class="cell" style="border: 0px solid #fff; height: 50px; border-radius: 10px; background-color: #c8e1d3;">

                      </div>
                    </div>
                    <div class="row">
                      <div id="keying" class="cell" style="border: 1px solid #999; overflow: auto; text-align: center; border-radius: 10px; height: 200px;">

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="cell" style="border: 0px solid #999; width: 200px; text-align: center; vertical-align: top;">
            <!--button class='button_red' id='btncancel' style='float: none;'-->
            <button class='big_button button_green' id='btndone' style='float: none;' onmousedown = 'submitTreatmentEncounter();'>
              Finish
            </button>
            <button class='big_button button_blue' id='btnback' style='float: none;' onmousedown="clearAll();">
              Clear all
            </button>
            <button class='big_button button_red' id='btncancel' style='float: none;' onmousedown="window.location = tt_cancel_destination">
              Cancel
            </button>

            <button class='big_button button_blue' id='btnswitch' style='float: none; margin-top: 100px;' onmousedown="checkParams(this);">
              <!-- %if @drug_sets.present?% -->
                All Drugs
              <!-- %else%>
                Drug Sets
              <%end% -->
            </button>

            <div id="searchbox" style="position: absolute; bottom: 0%; left: 10px; width: 95.7%; display: none;">
              <input type="text" id="search" value="" class="input" />
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Add at the end of the document for proper functioning -->
    <!--script type="text/javascript" src="scripts.js">< /script-->
    <%=javascript_include_tag "prescription/scripts"%>
  </body>
</html>

<script>
  setInterval("setDuration();", 500);
  //setInterval("getSearchedDrugs();", 500);

  function getSearchedDrugs() {                                                           
    var search_str = document.getElementById('search').value;               
                                                                                  
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
      xmlhttp=new XMLHttpRequest();
    }else{// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {
        var results = xmlhttp.responseText;
        if(results) {
          var searchedDrugs = JSON.parse(results);
          drugs = []; strengths = []; units = []; drug_ids = [];
          for(drug_id in searchedDrugs) {
            //alert(searchedDrugs[drug_id].name);
            drugs.push(searchedDrugs[drug_id].name);
            strengths.push(searchedDrugs[drug_id].dose_strength);
            units.push(searchedDrugs[drug_id].unit);
            drug_ids.push(drug_id);
          }
          listAllDrugs();
        }
      }
    }
    xmlhttp.open("GET","/prescriptions/search_for_drugs?search_str=" + search_str, true);
    xmlhttp.send();
  }

  function checkParams(node){

    if (node.innerHTML == "Drug Sets"){

      if (__$("cummulative") != undefined){

        var cells = __$("cummulative").getElementsByClassName("cell");

        if (cells.length >= 8 && cells.length % 4 == 0 && (cells[cells.length - 3].innerHTML == "")){

          confirmAction("Enter frequency for drug: " + cells[cells.length - 4].innerHTML)
        }else if (cells.length >= 8 && cells.length % 4 == 0 && (cells[cells.length - 2].innerHTML == "")){
          confirmAction("Enter duration for drug: " + cells[cells.length - 4].innerHTML)
        }else{
          switchViews(node.innerHTML);
        }
      }else{
        switchViews(node.innerHTML);
      }
    }else{

      switchViews(node.innerHTML);
    }
  }
  function buildParams(){
   
    var submitForm = document.createElement("FORM");
    submitForm.setAttribute("type","hidden");
    document.body.appendChild(submitForm);
    submitForm.method = "POST";

    for( var selected_drug in selectedDrugs) {
      
      var drug_id = selected_drug.match(/\d+/)[0];
      var frequency = __$("row_frequency_" + selected_drug).innerHTML;
      var duration = __$("row_duration_" + selected_drug).innerHTML;
   
      var newElement = document.createElement("input")
      newElement.setAttribute("name",'drug_formulations[]')
      newElement.setAttribute("type","hidden");
      newElement.value = "{:drug_id => " + drug_id +", :frequency => '" + frequency + "', :duration => '" + duration + "' }";
      submitForm.appendChild(newElement);
    }
   
    var newElement = document.createElement("input");
    newElement.setAttribute("name",'patient_id');
    newElement.setAttribute("type","hidden");
    newElement.value = "<%= @patient.patient_id %>";
    submitForm.appendChild(newElement);
      
    submitForm.action= "/prescriptions/prescribe?auto_flow=<%= params[:auto_flow]%>";
    finish(submitForm);
  }
  
  function finish(form){

    if (__$("cummulative") != undefined){

      var cells = __$("cummulative").getElementsByClassName("cell");

      if (cells.length >= 8 && cells.length % 4 == 0 && (cells[cells.length - 3].innerHTML == "")){
       
        confirmAction("Enter frequency for drug: " + cells[cells.length - 4].innerHTML)
      }else if (cells.length >= 8 && cells.length % 4 == 0 && (cells[cells.length - 2].innerHTML == "")){
        confirmAction("Enter duration for drug: " + cells[cells.length - 4].innerHTML)
      }else{
        form.submit();
      }
    }else{
      form.submit();
    }
  }

</script>