<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Examination</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/jquery-visible.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/examination.js"></script>

    <script type="text/javascript">
      tstUsername = "admin";
      var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
      var timedEvent;
      var YesNoConcepts = {
        "yes" : 1065,
        "no" : 1066
      };
      
      function submitExaminationsEncounter(){
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
        encounter_datetime += currentTime;
                        	
        var encounter = {
          encounter_type_name: 'ANC EXAMINATION',
          encounter_type_id:  98,
          patient_id: patient_id,
          encounter_datetime: encounter_datetime
        }
    
        submitParameters(encounter, "/encounters", "postExaminationObs");
      }

  function postExaminationObs(encounter){
    var obs = {
      encounter_id: encounter.encounter_id,
      observations: [
        { concept_id: 6686, value_coded: YesNoConcepts[$('ultrasound').value] },
        { concept_id: 7433, value_text: values_hash['region'] },
        { concept_id: 7837, value_text: values_hash['district'] },
        { concept_id: 7835, value_numeric: parseInt($('enter_fundal_height').value) },
        { concept_id: 7979, value_coded: YesNoConcepts[$('fetal_heart_beat').value] },
        { concept_id: 9637, value_coded: YesNoConcepts[$('enter_fetal_movement').value] },
        { concept_id: 9562, value_coded: YesNoConcepts[$('fetal_movement_felt').value] },
        { concept_id: 9563, value_numeric: parseInt($('last_fmf').value) }
      ]
    }

    if ($('ultrasound').value === 'yes') {
        obs.observations.push(
          { concept_id: 7142, value_text: $('multiple_gestation').value },
          { concept_id: 7919, value_text: $('liquor').value },
          { concept_id: 7836, value_text: $('lie').value },
          { concept_id: 9654, value_coded: YesNoConcepts[($('fetal_heart_movement_seen').value)] },
        )
    }

    if ($('fetal_heart_beat').value == 'yes'){
      obs.observations.push(
        { concept_id: 7839, value_numeric: parseInt($('fetal_heart_rate').value) },
      )
    }
    console.log(obs);
    //submitParameters(obs, "/observations", "nextPage")
  }

  function changeSubmitFunction(){
    var nextButton = document.getElementById('nextButton');
    nextButton.setAttribute('onmousedown', 'submitExaminationEncounter()');
  }
  
  function nextPage(obs){
    nextEncounter(sessionStorage.patientID, 1);
  }

    
    </script>
    <style type="text/css">
      #tab {
        height:312px;
      }
      #barcode {
        background:transparent none repeat scroll 0 0;
        border-color:-moz-use-text-color -moz-use-text-color silver;
        border-style:none none solid;
        border-width:medium medium 1px;
        font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
        font-size:2.2em;
        padding-left:5px;
        width:400px;
      }
      #header div {
        font-weight:normal;
        float:none;
        clear:both;
      }
      .summary{
        position:relative;
        float:center;
        width:100%;
        padding-left:10px;
        padding-right:10px;
      }
      .summary td , th{
        border-style:solid;
        border-width:thin;
        padding:5px;
      }

      .summary tbody{
        position:relative;
        height:500px;
        overflow:auto;
        overflow-x: hidden;
      }
      
      .summary>tbody tr {
        position:relative;
        height:12px;
      }
      
      .summary>thead tr {
        position:relative;
        height:12px;
      }
      .showPlus #plus {
        display: block;
        float: right;
      }

      .inputFrameClass {
        margin-left: 18px;
      }

      #viewport {
        height: 100%;
      }
    </style>

  </head>

  <body id="mateme">
    <div id="container">
      <div id="content">
        <form action="">

          <select name="ultrasound" id="ultrasound"
            helpText="Ultrasound scan results available"
            tt_onLoad="showCategory2('Examination');">

              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>

          </select>
            
          <select name="multiple_gestation" id="multiple_gestation"
            helpText="Number of fetuses"
            tt_onLoad="showCategory2('Examination');"
            condition="$('ultrasound').value == 'yes';">
            
              <option value=""></option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="unknown">Unknown</option>

          </select>

          <select name="liquor" id="liquor"
            helpText="Liquor" tt_onLoad="showCategory2('Examination');"
            condition="$('ultrasound').value == 'yes';">
              
              <option value=""></option>  
              <option value="Adequate">Adequate</option>
                <option value="Not adequate">Not adequate</option>
                <option value="Unknown">Unknown</option>
              
            </select>

            <select name="lie" id="lie"
              helpText="Lie" tt_onLoad="showCategory2('Examination');"
              condition="$('ultrasound').value == 'yes';">
              
                <option value=""></option>  
                <option value="longitudinal">Longitudinal</option>
                <option value="transverse">Transverse</option>
                <option value="unknown">Unknown</option>
              
            </select>
            

            <select name="fetal_heart_movement_seen" id="fetal_heart_movement_seen"
              helpText="Fetal heart movement seen" tt_onLoad="showCategory2('Examination');"
              condition="$('ultrasound').value == 'yes';">
              
                <option value=""></option>  
                <option value="yes">Yes</option>
                <option value="no">No</option>
              
            </select>

            <select name="presentation" id="presentation"
              helpText="Presentation" 
              tt_onLoad="showCategory2('Examination');
                $('nextButton').onmousedown = function(){verifyFields()}; ajaxifyInput();"
              optional="true"
              tt_pageStyleClass="NoKeyboard">

                <option value=""></option>
                <option value="cephalic">Cephalic</option>
                <option value="breech">Breech</option>
                <option value="ball">Ball</option>
                <option value="nill palpable">Nill palpable</option>
              
              </select>

              <select name="cephalic_presentation" id="cephalic_presentation"
                helpText="Cephalic type"
                tt_onLoad="showCategory2('Examination');"
                tt_pageStyleClass="NoKeyboard"
                condition="false" allowFreeText="true">
              
                <option value=""></option>
                <option value="right_occipito_anterior">Right Occipito Anterior</option>
                <option value="left_occipito_anterior">Left Occipito Anterior</option>
                <option value="unknown">Unknown</option>

              </select>

              <select name="breech_presentation" id="breech_presentation"
                helpText="Breech type"
                tt_onLoad="showCategory2('Examination');"
                tt_pageStyleClass="NoKeyboard"
                condition="false" allowFreeText="true">
              
                <option value=""></option>
                <option value="right_sacro_anterior">Right Sacro Anterior</option>
                <option value="left_sacro_anterior">Left Sacro Anterior</option>
                <option value="unknown">Unknown</option>

              </select>
            
              <select name="position" id="position"
                helpText="Position"
                tt_onLoad="showCategory2('Examination');"
                tt_pageStyleClass="NoKeyboard"
                condition="false">
              
                <option value=""></option>
                <option value="vertext">Vertex</option>
                <option value="oblique">Oblique</option>
                <option value="transverse">Transverse</option>
                <option value="breech">Breech</option>
                <option value="face">Face</option>
                <option value="shoulder">Shoulder</option>

              </select>

              <input field_type="number" type="text"
                id="enter_fundal_height" 
                tt_onLoad="showCategory2('Examination'); //validateFundalHeight();"
                helpText="Fundal height (cm)" name="fundal_height"
                tt_pageStyleClass="NumbersOnlyWithUnknown"
                absoluteMax="45" absoluteMin="10"/>

              <select id="fetal_heart_beat" name="fetal_heart_beat"
                helpText="Fetal heart beat" 
                tt_onLoad="showCategory2('Examination');">
              <!--condition="$('presentation').value != 'Ball' || $('presentation').value != 'Nill palpable'"-->

                <option value=""></option>
                <option value="Heard">Heard</option>
                <option value="Not heard">Not heart</option>

              </select>

              <input id="fetal_heart_rate" field_type="number"
                name="fetal_heart_rate" type="text"
                helpText="Fetal heart rate" 
                tt_onLoad="showCategory2('Examination');"
                tt_pageStyleClass="NumbersOnlyWithUnknown"
                min="120" max="140"/>

              <select name="FETAL MOVEMENT HEARD" id="enter_fetal_movement"
                tt_onLoad="showCategory2('Examination');"
                helpText="Fetal movement heard">

                <option value=""></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>

              </select>

              <select name="FETAL MOVEMENT FELT" id="fetal_movement_felt"
                condtion="$('presentation').value !== 'Ball' || $('presentation').value !== 'Nil palpable'"
                helpText="Fetal movement felt"
                tt_onLoad="showCategory2('Examination');">

                <option value=""></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>

              </select>

              <input name="LAST FETAL MOVEMENT FELT" id="last_fmf"
                tt_onLoad="showCategory2('Examination');"
                helpText="Last fetal movement felt" type="text"
                condition="$('fetal_movemement_felt').value !== '' ||
                  $('fetal_movemement_felt').value !== 'Unknown'"
                field_type="number"/>

              <select id="" name=""
                helpText="Diagnosis" allowFreeText='true'
                textCase="upper" multiple='true'
                selectAll="selectAll"
                tt_onLoad="changeUnknownToNone(); showCategory2('Examination');">
                
                <option value=""></option>
                <option value="malaria">Malaria</option>
                <option value="anaemia">Anaemia</option>
                <option value="pre-eclampsia">Pre-eclampsia</option>
                <option value="vaginal bleedin">Vaginal bleeding</option>
                <option value="early rupture of membranes">Early rupture of membranes</option>
                <option value="premature labour">Premature labour</option>
                <option value="pneumonia">Pneumonia</option>
                <option value="extensive warts">Extensive Warts</option>

              </select>
          </form>
        </div>
      </div>
      <script>
        // Every 500 milliseconds update the Next/Finish button
        function updateNextFinish() {
            if (tstInputTarget.value == '' || tstInputTarget.value == "None")
                $('nextButton').innerHTML = '<span>Finish</span>';
            else
                $('nextButton').innerHTML = '<span>Next</span>';
            setTimeout(updateNextFinish, 500)
        }
        function addWeeks(){
          v = __$("touchscreenInput" + tstCurrentPage).value;
          if (parseInt(v) == 1){
            __$("touchscreenInput" + tstCurrentPage).value += ' week';
            __$('last_fmf').value = __$("touchscreenInput" + tstCurrentPage).value
            console.log(__$("touchscreenInput" + tstCurrentPage).value);
            console.log(__$('last_fmf').value);
          }else{
            __$('last_fmf').value = __$("touchscreenInput" + tstCurrentPage).value+' weeks';
          }
        }
    </script>

    </body>
</html>