<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ANC Medical history</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/medical_history.js"></script>
  </head>

    <body id="mateme">
      <div id="container">
        <div id="content">
          <form>
            <select allowFreeText="false" class="medical_complications" 
              helpText="Past Medical Complications" id="medical_complications" 
              selectAll="selectAll" multiple="multiple" optional="true"  
              name="observations[][value_coded_or_text_multiple][]" 
              tt_onLoad="__$('nextButton').style.display='block';
                __$('backButton').style.display = 'none'; 
                submitFunction(); showCategory2('Medical history');" 
              tt_onUnLoad="" tt_pageStyleClass="longSelectList" 
              tt_BeforeUnLoad="">
              
              <option value=''></option>
              <option value="5">Asthma</option>
              <option value="8809">Hypertension</option>
              <option value="3720">Diabetes</option>
              <option value="7978">Spine/Leg Deformity</option>
              <option value="1063">Blood transfusion</option>
              <option value="155">Epilepsy</option>
              <option value="6033">Renal disease</option>
              <option value="7477">Fistula repair</option>
              <option value="174">Sexually transmitted infection</option>
            </select>
          </form>
        </div>
      </div>
    </body>
</html>
