<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ANC Medical history</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>

    <script type="text/javascript">
      tstUsername = "admin";
      var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
      var apiProtocol = sessionStorage.apiProtocol;
      var apiURL = sessionStorage.apiURL;
      var apiPort = sessionStorage.apiPort;
      var patientID = sessionStorage.patientID;
      var programID = sessionStorage.programID;

      var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
    
      var selectAll = false;
      var medical_complications_obs = []

      function submitMedicalHistoryEncounter() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
        encounter_datetime += currentTime;
                        	
        var encounter = {
          encounter_type_name: 'MEDICAL HISTORY',
          encounter_type_id:  30,
          patient_id: patientID,
          encounter_datetime: encounter_datetime
        }
        submitParameters(encounter, "/encounters", "postMedicalCompObs");
      }
  
      function selectNone(){

        if (__$("chkSelectAll") && __$("lblSelectAll")){

          __$("lblSelectAll").innerHTML = "None";
          __$("chkSelectAll").src = "/public/touchscreentoolkit/lib/images/unticked.jpg";

          __$("chkSelectAll").onclick = function(){
            if ( __$("chkSelectAll").src.match(/unticked/))
              __$("chkSelectAll").src = "/public//touchscreentoolkit/lib/images/ticked.jpg";
            checkAll();
            __$("touchscreenInput" + tstCurrentPage).setAttribute("optional", "true")
            setTimeout("submitMedicalHistoryEncounter()", 200);
          }
          __$("lblSelectAll").onclick = function(){

            if ( __$("chkSelectAll").src.match(/unticked/))
              __$("chkSelectAll").src = "/public/touchscreentoolkit/lib/images/unticked.jpg";
            checkAll();
            __$("touchscreenInput" + tstCurrentPage).setAttribute("optional", "true");
            setTimeout("submitMedicalHistoryEncounter()", 200);
          }
        }

        setTimeout("selectNone()", 50);
      }
 
      function checkFields(){
        var nodes = __$("medical_complications").children;

        for (var i = 0; i < nodes.length; i ++){

          if (nodes[i].value != "none" && nodes[i] && nodes[i].innerHTML != ""){
      
            var id = nodes[i].value;
            var hash = {"concept_id": "", value_coded: ""}
        
            if (id && !__$('img' + (i-1)).src.match("unticked")){
              hash["concept_id"] = parseInt(id)
              hash["value_coded"] = 1065
              medical_complications_obs.push(hash);
              //__$(id).value = "Yes";
            }else if(id && __$('img' + (i-1)).src.match("unticked")){
              hash["concept_id"] = parseInt(id)
              hash["value_coded"] = 1066
              medical_complications_obs.push(hash);
            //  console.log("here")
            }
          }
        }
      }

      function postMedicalCompObs(encounter){
        checkFields();

        var obs = {
          encounter_id: encounter.encounter_id,
          observations: medical_complications_obs
        }; 
        console.log(obs);

        submitParameters(obs, "/observations", "nextPage")
      }

      function nextPage(){
        nextEncounter(patientID, programID);
      }

      function submitFunction() {
        var nextButton = document.getElementById('nextButton');
        nextButton.innerHTML = '<span>Finish</span>';
        nextButton.setAttribute('onmousedown', 'submitMedicalHistoryEncounter()');
      }

      setTimeout("selectNone()", 50);
  

  </script>
        
    </head>

    <body id="mateme">
      <div id="container">
        <div id="content">
          <form>
            <select allowFreeText="false" class="medical_complications" 
              helpText="Past Medical Complications" id="medical_complications" 
              selectAll="selectAll" multiple="multiple" optional="true"  
              name="observations[][value_coded_or_text_multiple][]" 
              tt_onLoad="__$('nextButton').style.display='block';
                __$('backButton').style.display = 'none'; 
                submitFunction(); showCategory2('Medical history');" 
              tt_onUnLoad="" tt_pageStyleClass="longSelectList" 
              tt_BeforeUnLoad="">
              
              <option value=''></option>
              <option value="5">Asthma</option>
              <option value="8809">Hypertension</option>
              <option value="3720">Diabetes</option>
              <option value="7978">Spine/Leg Deformity</option>
              <option value="1063">Blood transfusion</option>
              <option value="155">Epilepsy</option>
              <option value="6033">Renal disease</option>
              <option value="7477">Fistula repair</option>
              <option value="174">Sexually transmitted infection</option>
            </select>
          </form>
        </div>
      </div>
    </body>
</html>
