<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Obstetric history</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <link rel="stylesheet" href="/apps/ANC/assets/css/obstetric_history.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>

    <script type="text/javascript">
      tstUsername = "admin";
      var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");

      function loadSelections(){
        $("keyboard").style.display = "none";
        $("touchscreenInput" + tstCurrentPage).style.display = "none";
        $("inputFrame" + tstCurrentPage).style.height = 0.72 * screen.height + "px";
        $("inputFrame" + tstCurrentPage).style.marginTop = 0.05 * screen.height + "px";
        $("inputFrame" + tstCurrentPage).style.background = "white";
        
        var delivered_pregnancies = $("para").value;

        if (delivered_pregnancies > 0){
          var headerHolder = document.createElement("div");
          headerHolder.style.height = "63px";
          headerHolder.style.width = "100%";
          headerHolder.style.borderRadius = "10px";

          var header = document.createElement("div");
          header.id = "header";
          header.style.width = "100%";
          headerHolder.appendChild(header);

          var t1 = document.createElement("div");
          t1.innerHTML = "Pregnancy";
          t1.setAttribute("class", "h-cell");
          header.appendChild(t1);

          var t2 = document.createElement("div");
          t2.innerHTML = "Baby count";
          t2.setAttribute("class", "h-cell");
          header.appendChild(t2);

          var t3 = document.createElement("div");
          t3.innerHTML = "Details available";
          t3.setAttribute("class", "h-cell");
          header.appendChild(t3);

          $("inputFrame" + tstCurrentPage).appendChild(headerHolder);

          var container = document.createElement("div");
          container.style.height = 0.64 * screen.height + "px";
          container.id = "container";

          $("inputFrame" + tstCurrentPage).appendChild(container);
          var table = document.createElement("div");
          table.id = "table";

          container.appendChild(table);

          for (var p = 1; p <= delivered_pregnancies; p ++ ){
            var row = document.createElement("div");
            row.setAttribute("class", "data-row");
            row.id = "row_" + p;
            if (p % 2 == 1){
                row.style.background = "#F8F8F8";
            }
            table.appendChild(row);
 
            var cell1 = document.createElement("div");
            cell1.id = "cell_" + p + "_1";
            cell1.style.paddingLeft = "15%";
            cell1.setAttribute("class", "data-cell");
            cell1.innerHTML = p + (p == 1 ? "<sup>st</sup>" : ((p == 2 ? "<sup>nd</sup>" : (p == 3 ? "<sup>rd</sup>" : "<sup>th</sup>"))));
            row.appendChild(cell1);

            var cell2 = document.createElement("div");
            cell2.id = "cell_" + p + "_2";
            cell2.setAttribute("class", "data-cell");

            cell2.style.paddingLeft = "7%";

            cell2.innerHTML = "<table class='button-table'><tr><td><button id = 'inc"+ p + "' class = 'minus' onmousedown = 'decrement(" +p+")'></button> </td> <td><input id = 'input_"+
            p +"'  value = '" + (counts[p] == undefined ? 1 : counts[p]) + "' class = 'label' id = 'label"+ p + "' >  </input> </td><td> <button  id = 'dec"+ p + "' class = 'plus' onmousedown = 'increment("+ p +")'></button></td></tr></table>"
            row.appendChild(cell2);

            if (counts[p] != undefined && parseInt(counts[p]) > 1){
              $("inc" + p).style.background = "url('/images/down_arrow.png')";
              $("inc" + p).style.backgroundRepeat = "no-repeat";
            }else{
              $("inc" + p).style.background = "url('/images/down_arrow_gray.png')";
              $("inc" + p).style.backgroundRepeat = "no-repeat";
            }

            if (counts[p] != undefined && parseInt(counts[p]) == 13){
              $("dec" + p).style.background = "url('/images/up_arrow_gray.png')";
              $("dec" + p).style.backgroundRepeat = "no-repeat";
            }else{
              $("dec" + p).style.background = "url('/images/up_arrow.png')";
              $("dec" + p).style.backgroundRepeat = "no-repeat";
            }
            
            var cell3 =  document.createElement("div");
            cell3.id = "cell_" + p + "_3";
            cell3.setAttribute("class", "data-cell-img");
            cell3.setAttribute("p", p);
            cell3.innerHTML = '<img class = "dcimg" id = "img_' + p +'" onclick = "checkSelection(' + p + ')" src="/images/unticked.jpg" height="45" width="45"> ';
            row.appendChild(cell3);
            
            if (data[p] == undefined)
                data[p] = {};
            data[p]["condition"] = false;
            data[p]["count"] = 1;
          }
        
          var width  = __$("row_1").offsetWidth + "px";
          headerHolder.style.width = width;
          header.style.width = width;
          updateInput(1, false);
        }
      }

      function calculateAbortions(){
        updateDeliveries();
        if ( $('gravida').value > 1 ){
          $('abortions').value = parseInt(__$('gravida').value) - parseInt(__$('para').value) -1
        }
      }

      function updateDeliveries(){
        deliveries = __$('para').value;
      }

      function buildParams(){
    console.log(data);
    var keys = Object.keys(data)
    for (var i = 0; i < keys.length; i ++){
        
        var count = data[keys[i]]["count"];
        for (var c = 1; c <= count; c ++){
            
            if (data[keys[i]]== undefined)
                data[keys[i]] = {};
            if (data[keys[i]][c] == undefined)
                data[keys[i]][c] = {};
        }
    }

    var abortions = parseInt(__$("abortions").value);

    if(abortions > 0){

        for (var i = 1; i <= abortions; i ++){
            if ($$[i] == undefined)
                $$[i] = {};
        }
    }

    // update various fields
    __$("data_obj").value = JSON.stringify(data);

    __$("abortion_obj").value = JSON.stringify($$);

    var str = __$("data_obj").value.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s+]/g, ' ')
    
    if (str.match(/caesarean section/i)){
        __$("ever_had_c_sections").value = "Yes";
    }else{
        __$("ever_had_c_sections").value = "No";
    }

    if (str.match(/vacuum extraction delivery/i)){
        __$("ever_had_a_vacuum_extraction").value = "Yes";
    }else{
        __$("ever_had_a_vacuum_extraction").value = "No";
    }

    if (str.match(/still birth/i)){
        __$("ever_had_still_births").value = "Yes";
    }else{
        __$("ever_had_still_births").value = "No";
    }    
}

function loadSplitSelections(arr){
    //array format [url, input_id, helpText]
    var arr = [["/encounters/yes_no_options", "ever_had_episiotomy"],
    ["/encounters/hemorrhage_options", "hemorrhage"],
    ["/encounters/yes_no_options", "pre_eclampsia"],
    ["/encounters/yes_no_options", "eclampsia"]
    ];

    var count = arr.length;
    var n = Math.floor(Math.sqrt(count));
    var v_count = Math.ceil(count/n);
    var h_count = Math.ceil(count/n);
    var e_count = count % n;

    __$("keyboard").style.display = "none";
    __$("touchscreenInput" + tstCurrentPage).style.display = "none";
    __$("inputFrame" + tstCurrentPage).style.height = (0.72 * screen.height) + "px";
    __$("inputFrame" + tstCurrentPage).style.marginTop = (0.05 * screen.height) + "px";
    //__$("inputFrame" + tstCurrentPage).style.background = "lightblue";

    if (count > 0){

        var n = 0;
        var holder = document.createElement("div");
        holder.id = 'holder';
        holder.style.height =  (0.72 * screen.height) + "px";
        holder.style.width = "100%";
        holder.style.display = "none";
        holder.setAttribute("class", "options");
        holder.style.borderRadius = "5px";
        holder.style.background = "white";
        __$("inputFrame" + tstCurrentPage).appendChild(holder);

        for (var r = 1; r <= v_count; r ++){

            var row = document.createElement("div");
            row.id = r;
            row.style.display = "table-row";
            row.setAttribute("class", "row");
            holder.appendChild(row);

            for(var c = 1; c <= h_count; c ++){

                var cell = document.createElement("div");
                cell.id = r + "_" + c;
                cell.style.display = "table-cell";
                cell.setAttribute("class", "cell");
                cell.style.background = "white";

                var helpText = __$(arr[n][1]).getAttribute("helpText");
                var heada = document.createElement("div");
                heada.style.height = "40px";
                heada.innerHTML = helpText;
                heada.style.marginTop = "5px";
                heada.style.background = "#CFE4CD";
                heada.style.borderRadius = "3px";
                heada.style.border = "2px gray solid";
                heada.style.fontSize = "28px";
                heada.style.marginLeft = "5px";
                heada.style.marginRight = "5px";
                cell.appendChild(heada);

                if(c != 1){
                    cell.style.borderLeft = "1px solid";
                }

                if(r != 1){
                    cell.style.borderTop = "1px solid";
                }

                cell.style.height = ((72/v_count) - 2) * 0.001 * screen.height + "px";
                cell.style.width = ((100/h_count)) + "%";
                row.appendChild(cell);

                n ++;
                if (n != arr.length - 1){

                    ajaxCustomRequest(arr[n - 1][0], arr[n - 1][1], "", (r + "_" + c));
                }else{

                    ajaxCustomRequest(arr[n - 1][0], arr[n - 1][1], "table", (r + "_" + c));
                }

            }
        }

        __$("2_2").style.display = "none";
        __$("1_2").style.borderBottom = "1px solid";
        __$("2_1").style.borderRight = "1px solid";

    }
}

function ajaxCustomRequest(aUrl, id, n, dom_id) {

    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function() {
        handleCustomResult(httpRequest, id, n, dom_id);
    };
    try {
        httpRequest.open('GET', aUrl, true);
        httpRequest.send(null);
    } catch(e){
    }
}

function handleCustomResult(aXMLHttpRequest, id, n, dom_id) {

    if (!aXMLHttpRequest) return;

    if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
        aXMLHttpRequest.status == 304)) {

        var result = aXMLHttpRequest.responseText;

        var data = result.split("|");

        var ul = document.createElement("ul");
        ul.id = id + "_ul"
        ul.style.paddingLeft = "5px";
        ul.style.paddingRight = "5px";
        __$(dom_id).appendChild(ul);
        var items = [];
        
        for(var i = 0; i < data.length; i ++){

            var li = document.createElement("li");
            li.setAttribute("class", "cell-data");
            li.setAttribute("target", id);
            li.value = data[i];
            ul.appendChild(li);           
            li.setAttribute("value", data[i]);
            li.innerHTML = "<img height=34 style='margin-right: 10px; margin-bottom: -5px;' src='/touchscreentoolkit/lib/images/unchecked.png' />" + data[i];
            items.push(li)
           
            li.onmousedown = function(){                
                __$(this.getAttribute("target")).value = this.getAttribute("value");

                if (this.getAttribute("target") == 'pre_eclampsia' && this.innerHTML.match(/Yes/i)){

                    __$("2_2").style.display = "table-cell";
                    __$("2_2").style.opacity = 1;
                    __$("1_2").style.borderBottom = "hidden";
                    __$("2_1").style.borderRight = "hidden";
                } else if (this.getAttribute("target") == 'pre_eclampsia' && this.innerHTML.match(/No/i)){

                    __$("eclampsia").value = "";
                    __$("1_2").style.borderBottom = "1px solid";
                    __$("2_1").style.borderRight = "1px solid";
                    hideMsg("2_2");
                }

                updateTouchscreenInput(this);
                
                var target = this.getAttribute("target")
                var nodes = jQuery("[target=" + target + "]");
                
                for (var i = 0; i< nodes.length; i++){

                    nodes[i].getElementsByTagName("img")[0].src = '/touchscreentoolkit/lib/images/unchecked.png';
                }
                
                this.getElementsByTagName("img")[0].src = '/touchscreentoolkit/lib/images/checked.png';
            }

            if(i % 2 == 0){

                li.className = "even";
                li.setAttribute("group", "even");

            } else {

                li.className = "odd";
                li.setAttribute("group", "odd");
            }
            
        }

        for (var j = 0; j < items.length; j++){

            if(__$(id).value && __$(id).value == items[j].getAttribute("value")){

                updateTouchscreenInput(items[j]);
                __$(items[j].getAttribute("target")).value = items[j].getAttribute("value");
                var nodes = jQuery("[target=" + id + "]");
                for (var i = 0; i< nodes.length; i++){
                    nodes[i].getElementsByTagName("img")[0].src = '/touchscreentoolkit/lib/images/unchecked.png';
                }
                items[j].getElementsByTagName("img")[0].src = '/touchscreentoolkit/lib/images/checked.png';
                if (items[j].getAttribute("target") == "pre_eclampsia" && __$("pre_eclampsia").value == "Yes"){
                    __$("pre_eclampsia").value = "";
                    __$("2_2").style.display = "block";
                    items[j].onmousedown.apply(items[j]);
                }
            }
        }
        

        if (n == "table")
            setTimeout(function(){
                __$('holder').style.display = n;
            }, 150);
    }
}

    </script>
        <style type="text/css">
            #tab {
                height:312px;
            }
            #barcode {
                background:transparent none repeat scroll 0 0;
                border-color:-moz-use-text-color -moz-use-text-color silver;
                border-style:none none solid;
                border-width:medium medium 1px;
                font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
                font-size:2.2em;
                padding-left:5px;
                width:400px;
            }

            #header div {
                font-weight:normal;
                float:none;
                clear:both;
            }

            .summary{
                position:relative;
                float:center;
                width:100%;
                padding-left:10px;
                padding-right:10px;
            }

            .summary td , th{
                border-style:solid;
                border-width:thin;
                padding:5px;
            }

            .summary tbody{
                position:relative;
                height:500px;
                overflow:auto;
                overflow-x: hidden;
            }

            .summary>tbody tr {
                position:relative;
                height:12px;
            }
            .summary>thead tr {
                position:relative;
                height:12px;
            }
        </style>
    </head>

  <body id="mateme">
    <div id="container">
      <div id="content">
        <form  onsubmit="submitFunction();">
            <input type="hidden" name="data" id="data" />
            <input type="hidden" name="data_obj" id="data_obj" />
            <input type="hidden" name="abortion_obj" id="abortion_obj" />

            <input field_type="number" type="text"
              helpText="Gravida" id="gravida" 
              name="gravida" 
              tt_onLoad="__$('zero').style.display = 'none';
                showCategory2('Obstetric history');" 
              tt_pageStyleClass="NumbersOnly" 
            />

            <input field_type="number" type="text"
              helpText="Para" id="para" 
              name="para" 
              condition="$('gravida').value > 1;"
              tt_onLoad="__$('zero').style.display = 'none';
                showCategory2('Obstetric history');data = {};
                $('touchscreenInput' + tstCurrentPage).setAttribute('absoluteMax', (__$('gravida').value - 1)); 
                details_available = []"
              tt_onUnload="if($('para').value == 0){}; 
                $('abortions').setAttribute('absoluteMax', (parseInt(__$('gravida').value - parseInt(__$('para').value) -1 )));
                $('abortions').setAttribute('absoluteMin', (parseInt(__$('gravida').value - parseInt(__$('para').value) -1 )));
                $('abortions').setAttribute('validationRule', '[' + (parseInt(__$('gravida').value) -
                parseInt(__$('para').value) - 1) + ']');
                $('abortions').setAttribute('validationMessage', 'Expected value is ' + (parseInt(__$('gravida').value) -
                parseInt($('para').value) - 1));$('abortions').removeAttribute('validationRule'); 
                $('abortions').removeAttribute('validationMessage'); calculateAbortions();"
              tt_pageStyleClass="NumbersOnly" 
            />

            <input name="number of abortions" id="abortions"
              helpText="Number of abortions" tt_pageStyleClass="NumbersOnly"
              condition="false" validationRule="[0-5]"
              validationMessage="Check your value"
            />

            <input id="knonw_pregnancies" optional="true"
              helpText="Pregnancies with available information"
              tt_onLoad="showCategory2('Obstetric history');loadSelections(); 
                jQuery('.dcimg').click(); showCategory2('Obstetric history');"
              condition="$('gravida').value > 1 && $('para').value > 0" 
              name="known_pregnancies"
              tt_onUnload="calculateAbortions();"
            />
        
            <select name="episiotoy" id="ever_had_episiotomy"
              helptext="Episiotomy" tt_onLoad=" parsedConceptName = 'EPISIOTOMY'"
              tt_onUnLoad="parsedConceptName = ''"
              condition="false">

              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>

            </select>
        
            <select name="heamoghage" id="hemorrhage"
              helptext="Hemorrhage" tt_onLoad=" parsedConceptName = 'HEMORRHAGE'"
              tt_onUnLoad="parsedConceptName = ''"
              condition="false">
              
              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
              
            </select>
            
            <select name="pre-eclampsia" id="pre_eclampsia"
              helptext="Pre-Eclampsia" tt_onLoad=" parsedConceptName = 'PRE-ECLAMPSIA'"
              tt_onUnLoad="parsedConceptName = ''"
              condition="false">

              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>

            </select>
        
            <select name="eclampsia" id="eclampsia"
              helptext="Eclampsia" tt_onLoad=" parsedConceptName = 'ECLAMPSIA'"
              tt_onUnLoad="parsedConceptName = ''"
              condition="false">

              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>

            </select>
        
            <!-- input name="pregnancy details" type="text"
              id="input_page" helptext="Pregnancy details" 
              tt_onLoad="jQuery('#clearButton').css('display', 'none');parsedConceptName = ''; 
              loadInputWindow(); showCategory2('Obstetric history');"
              tt_BeforeUnLoad="buildParams(); console.log(test_code().toString());"
              optional="true"
              condition="$('gravida').value > 1 && $('para').value !== 'Unknown'"/ -->
        
            <input name="complications" id="complications"
              helptext="Previous complications" tt_onLoad="jQuery('#clearButton').css('display', 'none');
                loadSplitSelections(); showCategory2('Obstetric history');"
              tt_BeforeUnLoad="addValidationInterval()"
              condition="$('gravida').value > 1"
            />

        </form>
      </div>
    </div>
  </body>
</html>