<!DOCTYPE html>
<html>
  <head>
    <title>PMTCT</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>

    <script>
      var apiProtocol = sessionStorage.apiProtocol;
      var apiURL = sessionStorage.apiURL;
      var apiPort = sessionStorage.apiPort;
      var patientID = sessionStorage.patientID;
      var programID = sessionStorage.programID;
      var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

      YesNoConcepts = {};
      YesNoConcepts["Yes"] = 1065;
      YesNoConcepts["No"] = 1066;

      function submitHIVreception() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
        encounter_datetime += currentTime;
                        	
        var encounter = {
          encounter_type_name: 'DISPENSING',
          encounter_type_id:  54,
          patient_id: patientID,
          encounter_datetime: encounter_datetime
        }

        submitParameters(encounter, "/encounters", "postVitalsObs");
      }

      function postVitalsObs(encounter) {

        var obs = {
          encounter_id: encounter["encounter_id"],
          observations: [
            { concept_id: 1805, value_coded: YesNoConcepts[yesNo_Hash['DISPENSING']['TTV given?']] }
          ]
        }; 

        submitParameters(obs, "/observations", "nextPage")  
      }

      function nextPage(obs){
        nextEncounter(sessionStorage.patientID, 1);
      }

      function addYesNo() {
        var tar = document.getElementById("inputFrame" + tstCurrentPage);
        var attr = 'Proceed to PMTCT'
        buildYesNoUI('DISPENSING', attr, tar);
      }

    </script>
  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <form>
          <input type="text" name="summary"
            tt_onLoad="__$('keyboard').style.display = 'none';addYesNo();"
            tt_pageStyleClass= "NoControls" helpText="PMTCT" optional = "true"/>
            
            <select name="reason for not starting art" 
              id="reason_for_not_starting_art"
              helpText="Reason for not starting ART"
              tt_onLoad="showCategory2('PMTCT');">

                <option value=""></option>
                <option value="already on art at another facility">
                  Already on ART at another facility
                </option>
                <option value="to be done in another room">
                  To be done in another room
                </option>
                <option value="not willing">
                  Not willing
                </option>

            </select>
            
        </form>
      </div>
    </div>
  </body>
</html>
