<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Surgical History</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>

    <script type="text/javascript">
      tstUsername = "admin";
      var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
      var apiProtocol = sessionStorage.apiProtocol;
      var apiURL = sessionStorage.apiURL;
      var apiPort = sessionStorage.apiPort;
      var patientID = sessionStorage.patientID;
      var programID = sessionStorage.programID;

      var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    
      var selectAll = false;
      var surgical_obs = []

      function submitSurgicalHistoryEncounter() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
        encounter_datetime += currentTime;
                        	
        var encounter = {
          encounter_type_name: 'SURGICAL HISTORY',
          encounter_type_id:  83,
          patient_id: patientID,
          encounter_datetime: encounter_datetime
        }
        submitParameters(encounter, "/encounters", "postSurgicalObs");
      }
  
      function selectNone(){
        //$('chkSelectAll').src = "";
        //$('chkSelectAll').src = "/public/touchscreentoolkit/lib/images/unticked.jpg";

        if (__$("chkSelectAll") && __$("lblSelectAll")){

          __$("lblSelectAll").innerHTML = "None";

          __$("chkSelectAll").onclick = function(){
            if ( __$("chkSelectAll").src.match(/unticked/))
              __$("chkSelectAll").src = __$("chkSelectAll").src.replace(/unticked/, "ticked");
            checkAll();
            __$("touchscreenInput" + tstCurrentPage).setAttribute("optional", "true")
            setTimeout("gotoNextPage()", 200);
          }
          __$("lblSelectAll").onclick = function(){

            if ( __$("chkSelectAll").src.match(/unticked/))
              __$("chkSelectAll").src = __$("chkSelectAll").src.replace(/unticked/, "ticked");
            checkAll();
            __$("touchscreenInput" + tstCurrentPage).setAttribute("optional", "true");
            setTimeout("gotoNextPage()", 200);
          }
        }

        setTimeout("selectNone()", 50);
      }
 
      function checkFields(){
        var nodes = __$("surgical_history").children;

        for (var i = 0; i < nodes.length; i ++){

          if (nodes[i].value != "none" && nodes[i] && nodes[i].innerHTML != ""){
      
            var id = nodes[i].value;
            var hash = {"concept_id": "", value_coded: ""}
        
            if (id && !__$('img' + (i-1)).src.match("unticked")){
              hash["concept_id"] = parseInt(id)
              hash["value_coded"] = 1065
              surgical_obs.push(hash);
            }
          }
        }
      }

      function postSurgicalObs(encounter){
        checkFields();

        var obs = {
          encounter_id: encounter.encounter_id,
          observations: surgical_obs
        }; 
        console.log(obs);

        submitParameters(obs, "/observations", "nextPage")
      }

      function nextPage(obs){
        nextEncounter(patientID, programID);
      }

      function submitFunction() {
        var nextButton = document.getElementById('nextButton');
        nextButton.innerHTML = '<span>Finish</span>';
        nextButton.setAttribute('onmousedown', 'submitSurgicalHistoryEncounter()');
      }

      setTimeout("selectNone()", 50);
      
    </script>
  </head>
  
  <body id="mateme">
    <div id="container">
      <div id="content">
        <form>
          <select allowFreeText="false" id="surgical_history"
            helpText="Previous Surgical Procedure(s) Done" 
            selectAll="selectAll" multiple="multiple" 
            name="surgical history" optional="true" 
            tt_onLoad="__$('nextButton').style.display='block';
              __$('backButton').style.display = 'none'; submitFunction();" 
            tt_onUnLoad="" tt_pageStyleClass="longSelectList">
      
              <option value=''></option>
              <option value="9306">Abdominal Washout</option>
              <option value="8767">Bilateral tubal ligation</option>
              <option value="3593">Biopsy</option>
              <option value="1171">Caesarean section</option>
              <option value="7471">Cauterization of vulva or perineal warts</option>
              <option value="8766">Ceclage</option>
              <option value="9303">Colposcopy</option>
              <option value="7453">Conservative management</option>
              <option value="9313">Coterization</option>
              <option value="8765">Cystectomy</option>
              <option value="7481">Cystoscopy</option>
              <option value="9305">Decapitation</option>
              <option value="7479">Diagnostic laparascopy</option>
              <option value="7475">Dilation and curettage</option>
              <option value="7476">Drainage of abscess</option>
              <option value="8448">Dressing</option>
              <option value="8449">Dressing with vaseline gause</option>
              <option value="9058">Evacuation/Manual Vacuum Aspiration</option>
              <option value="7441">Exam under anaesthesia</option>
              <option value="8773">Excision</option>
              <option value="7470">Exploratory laparatomy +/- adnexectomy</option>
              <option value="7477">Fistula repair</option>
              <option value="8451">Foreign body aspiration</option>
              <option value="9308">Gaped episiotomy repair</option>
              <option value="5276">Hysterectomy</option>
              <option value="7480">Hysterescopy</option>
              <option value="9065">Incision and drainage </option>
              <option value="7473">Lung maturation</option>
              <option value="9309">Macdonald suture</option>
              <option value="7472">Marsupilisation</option>
              <option value="9315">Musculisation</option>
              <option value="7478">Myomectomy</option>
              <option value="9314">Ofrectomy</option>
              <option value="9304">Polypectomy</option>
              <option value="9318">Reopening</option>
              <option value="8381">Repair of uterus</option>
              <option value="7474">Salpingectomy</option>
              <option value="8450">Slinging</option>
              <option value="7444">Subtotal abdominal hysterectomy +/- adnexectomy</option>
              <option value="8447">Suturing and dressing</option>
              <option value="7462">Suturing of cervical or vaginal injury under anaesthesia</option>
              <option value="8380">Suturing of perineum</option>
              <option value="7443">Total abdominal hysterectomy +/- adnexectomy</option>
              <option value="1719">Tubal ligation</option>
              <option value="7440">Uterine evacuation</option>
              <option value="7469">Vaginal Reconstruction</option>
              <option value="9307">Vaginal hysterectomy</option>
              <option value="7482">Vulvectomy</option>
            
          </select>
          
        </form>
      </div>
    </div>
  </body>
</html>
